---
# general

## the default for become_user operations (typically ubuntu on ubuntu)
username: "{{ ansible_user }}"
## Taint master- and label master as kolla-worker
master_works: False

# kube
token: c2d386.f79b2b89b6138441
pod_cidr: 10.1.0.0/16
service_cidr: 10.3.3.0/24
## typically change this to eth0 equivalent
# ubuntu
#   terraform = ens3
#   vagrant = enp0s8
api_advertise_iface: ens3
## node .10 of service_cidr (10.3.3.10)
kube_dns_ip: 10.3.3.10
## typically change this to your master's eth0 ip
#api_advertise_ip: 10.0.0.5
kube_version: 1.7.5

# network
network_driver: 'weave'  # canal or weave
## canal
canal_dns_ip: 10.3.3.100
canal_pod_network: 10.1.0.0

# helm (specify x.y.z or 'latest')
helm_version: "2.6.1"

# kolla
base_distro: "centos"
install_type: "source"
management_iface: "{{ api_advertise_iface }}"
management_ip: "{{ api_advertise_ip }}" # 172.17.0.1 usually docker0 or equivalent
## a second interface for neutron, typically without an ip
neutron_iface: ens4
external_vip: 192.168.7.105
dns_name: 192.168.7.105
cinder_lvm_ip: 192.168.7.105
