[kube-masters]
192.168.204.11

[kube-workers]
192.168.204.12
192.168.204.13

[k8s-cluster:children]
kube-workers
kube-masters

[k8s-cluster:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=/home/myuser/.ssh/mykey.pem
ansible_python_interpreter=/usr/bin/python

